.event-detail-container {
    max-width: 980px;
    padding: 50px 0;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.event-detail-container img{
    min-width: 50%;
    border-radius:  5px 5px 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.event-detail-container footer{
    flex: 1;
    background: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.event-detail-container footer strong{
    font-size: 36px;
    color: #333;
}

.event-detail-container footer p {
    font-size: 20px;
    line-height: 20px;
    margin-top: 5px;
}

.detail {
    min-height: 70%;
}

.buttons {
    max-width: 980px;
    text-align: center;
    margin: auto;
    display: flex;
}

.buttons button {
    font-size: 20px;
    color: #FFF;
    border: 0;
    border-radius: 7px;
    width: 200px;
    height: 30px;
}

.buttons .buy {
    background-color: rgb(47, 173, 30);
    margin-right: 40px;
}

.buttons .back {
    background-color: rgb(199, 9, 9);
}

.description {
    color: #424242;
}

.quantidade-valor {
    color: #999;
}