.page-header {
    padding: 2%;
    background-color: #288BE4;
    border-radius: 5px;
    border: 1px solid #eee;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.space {
    flex: 1;
}

.home {
    color: #FFF;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.header-links {
    color: #288BE4;
    background-color: #FFF;
    font-weight : bold ;
    border: 0;
    border-radius: 10px;
    min-width: 190px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    margin-left: 10px;
}

.name-header {
    color: #FFF;
    flex: 0.3;
    padding: 5px 0px;
    font-size: 18px
}