.page-header {
    padding: 2%;
    background-color: #288BE4;
    border-radius: 5px;
    border: 1px solid #eee;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.space {
    min-width: 80%;
}

.home {
    color: #FFF;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.login {
    color: #288BE4;
    background-color: #FFF;
    font-weight : bold ;
    border: 0;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
}